$color-white: #f4f4f4;
$color-gray-light: #d1d1d1;
$color-black: #222;
$color-primary: #3184d1;
$color-primary-light: #a9d0f5;
$color-danger: #e90000;
$color-danger-light: #f5b5b5;
$min-width: 360px;
$max-width: 1200px;
$base-font-family: Arial, Helvetica, sans-serif;
$fancy-font-family: 'Lobster', serif;
$base-padding: 10px;